/* Extra Light – 200 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Light – 300 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Regular – 400 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium – 500 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Bold – 700 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Extra Bold – 800 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Black – 900 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}





body {
    font-family: 'itfOmniaNaskh', sans-serif !important;
}

header {
    position: sticky !important;
    top: 0 !important;

    left: 0 !important;
}

header nav {
    min-height: 65px !important;
}

.navbar-toggler {

    border: none;
}

.navbar-toggler:focus {
    border-radius: 0;
    box-shadow: none;
}

header nav ul li a {
        font-size: 18px;
        /*color: var(--bs-primary) !important;*/
}

.logo {
    height: 55px;
}


.hero-section {

    /*background-image: url("https://webheady.com/Charity-sympathy/images/slider/1.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
}

.hero-section .container {
    min-height: 70vh;
}

.hero-section img {
    filter: blur(3px);
}



/*.hero-section::before {*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    background-image: url("../imgs/pattern.svg");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    opacity: 0.1;*/
/*    z-index: -1;*/

/*}*/

.special-heading {
    position: relative;
    width: fit-content;
    margin: auto;
    padding: 15px 0;
    cursor: pointer;
    transition: .6s;
    z-index: 1;
    user-select: none;
}

.special-heading::before {
    content: "";
    width: 50%;
    height: 2px;
    background-color: var(--bs-dark);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: .6s;
}



.special-heading:hover::before {
    width: 100%;
}



.statistics::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../imgs/abstract_shape01.png");
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;

}

.statistics::after {
    content: "";
    width: 100%;
    background-image: url("../imgs/hands.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    z-index: -1;
    background-attachment: fixed;
}


 .feature-icon {
     width: 85px;
     height: 85px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 32px;
     transition: all 0.3s ease;
 }

.feature-card {
    transition: all 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.08) !important;
}

.feature-card:hover .feature-icon {
    transform: scale(1.1);
}



/*.active {*/
/*    margin-left: 15px;*/
/*    margin-right: 15px;*/
/*    padding: 5px 20px;*/

/*    border-radius: 30px;*/
/*    background-image: linear-gradient(to left,#49B649, var(--bs-primary));*/
/*}*/

/*.active .nav-link {*/
/*    font-size: 18px;*/
/*    font-weight: 500;*/
/*    color: #fff !important;*/
/*}*/

.categories::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../imgs/pattern.svg");
    position: absolute;
    background-size: cover;
    background-position: bottom right ;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.020;
}


.category-overlay {
    z-index: 3;
    background-position: center;
    background-size: cover;
    position: relative;
}




.category-overlay::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../imgs/pattern.svg");
    position: absolute;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: .15;
}


.category-overlay::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(at left top , var(--bs-primary) 30%,var(--category-color));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: .7;
}

.active {
    color: var(--bs-primary) !important;
    font-weight: bold;
}

.clamp-text-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; /* standard property (newer browsers) */
}
